*.launch
.classpath
.gradle
.gradletasknamecache
.project
.settings
.idea/
bin/
build/
eclipse/
libs/
out/
run/
gradle-app.setting

!.gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
