# methods
public net.minecraft.client.gui.inventory.GuiContainer drawSlot(Lnet/minecraft/inventory/Slot;)V
public net.minecraft.client.gui.inventory.GuiContainer updateDragSplitting()V

# fields
public net.minecraft.client.gui.inventory.GuiContainer clickedSlot
public net.minecraft.client.gui.inventory.GuiContainer draggedStack
public net.minecraft.client.gui.inventory.GuiContainer isRightMouseClick
public net.minecraft.client.gui.inventory.GuiContainer dragSplittingLimit
